PORT=4000
NODE_ENV=development

DATABASE_URL="postgresql://postgres.jbcgbjyudjzvefcnyled:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://postgres.jbcgbjyudjzvefcnyled:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:5432/postgres?sslmode=require"